body {
	background-color: #D6E3FF;
	margin: 0px;
	font-family: helvetica;
	font-size: 9pt;
}

div#site {
    left: 50%;
    margin-left: -383px;
    margin-top: -230px;
    position: absolute;
    top: 50%;


	width: 776px;
	height: 460px;
	background-color: #D6E3FF;

}

div#logo {
	width: 350px;
	height: 216px;
	background-color: #D6E3FF;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-image: url(img/logomainscreen.png);
	margin-right: 8px;
	text-align: center;

}

div#addworksession {
	width: 350px;
	height: 216px;
	background-color: #D6E3FF;
	float: left;
	background-image: url(img/addws_bg.png);
	padding: 15px;
}

div#listworksession {
	width: 738px;
	height: 180px;
	background-color: #D6E3FF;
	float: left;
	background-image: url(img/ws_bg.png);
	padding: 15px;
	margin-top:6px;
	
	
}

td {
	padding: 5px;
}

th {
	text-align: left;
}

td.ws {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	
	border-top: 1px solid #848284;
	border-collapse: collapse;
	
}

table.ws {
	border-collapse: collapse;
}

